trips-types/trips-ws-exception.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema targetNamespace="http://trips.technobrain.com/wsexception/message"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://trips.technobrain.com/wsexception/message">
  <xsd:element name="WSException" type="WSException" nillable="true"/>
  <xsd:complexType name="WSException">
    <xsd:sequence>
      <xsd:element name="ErrorCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ErrorDescription" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Stack" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>